@import 'variables-site/variables-site';

#about-page {
  background-color: $color__white;
  .about__landing-page {
    height: 80vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    img {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
    .about__landing-page-overlay {
      height: 100%;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #15534e;
      opacity: 0.6;
    }
    .about__landing-page-text {
      color: $color__white;
      font-family: $font__main;
      font-size: 2em;
      letter-spacing: 1.5px;
      position: absolute;
      bottom: 30px;
      margin: $margin__mobile;
    }
  }
  .about-page-body {
    margin: $margin__mobile;
    font-size: 22px;
    font-family: $font__secondary_reg;
    .about__opening-text {
      color: $color__green;
      padding-top: 20px;
      p {
        margin-bottom: 30px;
      }
    }
    .about__our-legacy {
      color: $color__green;
      .about__our-legacy-large-img {
        margin-bottom: 20px;
        height: 440px;
        width: 100%;
        object-fit: cover;
      }
      .about__our-legacy-txt-wrap {
        span {
          font-family: $font__main;
          font-size: 28px;
          letter-spacing: 1.5px;
        }
        .about__our-legacy-small-txt {
          font-size: 19px;
          line-height: 25px;
          p {
            margin: 10px 0 20px 0;
          }
        }
      }
      .about__our-legacy-small-img {
        padding: 10px 0;
        height: 250px;
        width: 100%;
        object-fit: cover;
      }
      .about__our-legacy-large-txt {
        p {
          margin: 20px 0 50px 0;
        }
      }
    }
    .about__innovation {
      color: $color__green;
      span {
        font-family: $font__main;
        font-size: 28px;
        letter-spacing: 1.5px;
      }
      .about__innovation-large-txt {
        p {
          margin: 10px 0 20px 0;
        }
      }
      .about__innovation-small-txt {
        font-size: 19px;
        line-height: 25px;
        p {
          margin: 30px 0;
        }
      }
      .about__innovation-small-img {
        padding: 0 0 50px 0;
        height: 270px;
        width: 100%;
        object-fit: cover;
      }
    }
    .about__community {
      color: $color__green;
      span {
        font-family: $font__main;
        font-size: 28px;
        letter-spacing: 1.5px;
      }
      .about__community-large-txt {
        p {
          margin: 10px 0 20px 0;
        }
      }
      .about__community-small-txt {
        font-size: 19px;
        line-height: 25px;
        p {
          margin: 30px 0 30px 0;
        }
      }
      .about__community-small-img {
        padding: 0 0 50px 0;
        height: 270px;
        width: 100%;
        object-fit: cover;
      }
    }
    .about__partnerships-associations {
      color: $color__green;
      margin: 25px 0 75px 0;
      span {
        font-family: $font__main;
        font-size: 28px;
        letter-spacing: 1.5px;
      }
      #about__partnerships-associations-carousel {
        margin-right: -7%;
        margin-left: -7%;
        margin-top: 25px;
        .slick-list {
          height: 200px;
          .slick-track {
            height: 100%;
            .slick-slide {
              padding: 0 0 0 23px;              
              height: 100%;
              width: 320px;
              img {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        // .slick-dots {
        //   li {
        //     height: 10px;
        //     padding: 0 5px;
        //     margin: 0 1px;
        //     button {
        //       background-color: $color__green;
        //       border-radius: 0;
        //       width: 100%;
        //       height: 100%;
        //       opacity: 0.25;
        //       &:before {
        //         content: '';
        //         color: $color__green;
        //       }
        //     }
        //   }
        // }
      }
    }
    .about__featured-in {
      color: $color__green;
      padding: 20px 0 50px 0;
      span {
        font-family: $font__main;
        font-size: 30px;
        letter-spacing: 1.5px;
      }
      #about__featured-in-carousel {
        margin-top: 25px;
        margin-bottom: 0;
        // height: 150px;
        margin-right: -7%;
        margin-left: -7%;        
        .slick-list {
          padding: 0 30px 0 0;
          .slick-active {
            padding: 0;
          }
          .about__publication-wrapper {
            font-family: $font__main;
            padding: 0 0 0 23px;
            width: 330px;            
            .publication-name {
              text-transform: uppercase;
              font-size: 14px;
              letter-spacing: 1.5px;
              line-height: 25px;
            }
            .publication-headline {
              color: $color__green;
              letter-spacing: 1.5px;
              font-size: 20px;
              &:visited,
              &:hover,
              &:focus {
                color: $color__green;
              }
            }
            .publication-date {
              font-family: $font__secondary_med;
              font-size: 14px;
              letter-spacing: 1.5px;
              line-height: 35px;
            }
          }
        }
        // .slick-dots {
        //   li {
        //     height: 10px;
        //     padding: 0 5px;
        //     margin: 0 1px;
        //     button {
        //       background-color: $color__green;
        //       border-radius: 0;
        //       width: 100%;
        //       height: 100%;
        //       opacity: 0.25;
        //       &:before {
        //         content: '';
        //         color: $color__green;
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}

// IPAD
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #about-page {
    .about__landing-page {
      .about__landing-page-text {
        font-size: 3em;
      }
    }
    .about-page-body{
      .about__our-legacy {
        .about__our-legacy-large-img {
          height: 1000px;
        }
        .about__our-legacy-small-img {
          height: 500px;
        }
      }
      .about__innovation {
        .about__innovation-small-img {
          height: 500px;
        }
      }
      .about__community {
        .about__community-small-img {
          height: 500px;
        }
      }
      .about__partnerships-associations {
        #about__partnerships-associations-carousel {
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .about__partnerships-associations-img-wrap {
            width: 50%;
            height: 200px;
            padding: 0 20px;
            img {
              object-fit: contain;
              height: 200px;
            }
          }
        }
      }
      .about__featured-in {
        #about__featured-in-carousel {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          margin: 0;
          .about__publication-wrapper {
            font-family: $font__main;

            width: 50%;
            padding: 20px 0;
            .publication-name {
              text-transform: uppercase;
              font-size: 14px;
              letter-spacing: 1.5px;
              line-height: 25px;
            }
            .publication-headline {
              color: $color__green;
              letter-spacing: 1.5px;
              font-size: 20px;
              &:visited,
              &:hover,
              &:focus {
                color: $color__green;
              }
            }
            .publication-date {
              font-family: $font__secondary_med;
              font-size: 14px;
              letter-spacing: 1.5px;
              line-height: 35px;
            }
          }
        }
        
      }
    }
  }
}

// IPAD PRO 10.5"
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
}

// DESKTOP
@media screen and (min-width: 1025px) {
  #about-page {
    .about__landing-page {
      height: 95vh;

      img {
        width: 100%;
      }
      .about__landing-page-overlay {
      }
      .about__landing-page-text {
        font-size: 2.5em;
        width: 500px;
        margin: $margin__desktop;
      }
    }
    .about-page-body {
      margin: $margin__desktop;
      .about__opening-text {
        color: $color__green;
        padding: 60px 0;
      }
      .about__our-legacy {
        position: relative;
        .about__our-legacy-large-img-wrapper {
          overflow: hidden;
          position: absolute;
          top: 0;
          right: 0;
          width: 50%;
          max-width: 800px;
          height: 800px;
          .about__our-legacy-large-img {
            padding: 0;
            height: 110%;
          }
        }
        .about__our-legacy-txt-wrap {
          position: relative;
          top: 140px;
          height: 800px;          
          .about__our-legacy-small-txt {
            padding-top: 20px;
            position: relative;
            width: 45%;
            // height: 800px;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
          }
        }
        .about__our-legacy-small-img-wrapper {
          width: 50%;
          max-width: 800px;
          height: 400px;
          margin-top: 60px;
          overflow: hidden;
          position: relative;
          .about__our-legacy-small-img {
            object-fit: cover;
            padding: 0;
            width: 900px;
            height: 110%;
          }
        }
        .about__our-legacy-large-txt {
          position: absolute;
          width: 45%;
          right: 0;
          bottom: 70px;
        }
      }
      .about__innovation {
        margin-top: 60px;
        position: relative;
        height: 600px;
        span {
          position: absolute;
          width: 45%;
          right: 0;
        }
        .about__innovation-large-txt {
          position: absolute;
          width: 55%;
          top: 70px;
          left: 23%;
          z-index: 1;
        }
        .about__innovation-small-txt {
          position: absolute;
          width: 45%;
          right: 0;
          top: 200px;
        }
        .about__innovation-small-img-wrapper {
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 50%;
          height: 400px;
          left: 0;
          bottom: 0;
          .about__innovation-small-img {
            padding: 0;        
            height: 430px;
            object-fit: cover;    
          }
        }
      }
      .about__community {
        margin-top: 60px;
        position: relative;
        height: 600px;
        span {
          position: absolute;
          width: 45%;
          right: 0;
        }
        .about__community-large-txt {
          position: absolute;
          width: 55%;
          top: 70px;
          left: 23%;
          z-index: 1;
        }
        .about__community-small-txt {
          position: absolute;
          width: 45%;
          right: 0;
          top: 200px;
        }
        .about__community-small-img-wrapper {
          position: absolute;
          width: 50%;
          left: 0;
          bottom: 0;
          max-width: 800px;
          overflow: hidden;
          height: 400px;
          .about__community-small-img {
            padding: 0;
            object-fit: cover;
            height: 110%;
          }
        }
      }
      .about__partnerships-associations {
        padding-top: 110px;
        #about__partnerships-associations-carousel {
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .about__partnerships-associations-img-wrap {
            width: 33.33%;
            height: 250px;
            img {
              object-fit: contain;
              height: 275px;
            }
          }
        }
      }
      .about__featured-in {
        padding-top: 60px;
        #about__featured-in-carousel {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          margin: 0;
          .about__publication-wrapper {
            font-family: $font__main;

            width: 33.33%;
            padding: 20px 0;
            .publication-name {
              text-transform: uppercase;
              font-size: 14px;
              letter-spacing: 1.5px;
              line-height: 25px;
            }
            .publication-headline {
              color: $color__green;
              letter-spacing: 1.5px;
              font-size: 20px;
              &:visited,
              &:hover,
              &:focus {
                color: $color__green;
              }
            }
            .publication-date {
              font-family: $font__secondary_med;
              font-size: 14px;
              letter-spacing: 1.5px;
              line-height: 35px;
            }
          }
        }
      }
    }
  }
}

// EXTRA LARGE
@media screen and (min-width: 1600px) {
}
