@import 'variables-site/variables-site';

#contact-page {
  padding-top: 120px;
  margin: $margin__mobile;
  .contact__text {
    display: flex;
    flex-direction: column;
    .contact__title {
      font-family: $font__main;
      font-size: 28px;
      letter-spacing: 1.5px;
    }
    .contact__head-office {
      color: #404040;
      font-size: 18px;
      font-family: $font__secondary-med;
      padding-top: 20px;
    }
    .contact__address {
      color: #404040;
      font-size: 18px;
      line-height: 22px;
      padding: 5px 0 15px 0;
      // width: 200px;
    }
    .contact__phone {
      color: #404040;
      text-decoration: none;
      font-size: 18px;
      line-height: 22px;
      &:focus,
      &:hover,
      &:visited {
        color: #404040;
        text-decoration: none;
      }
    }
    .contact__email {
      color: #404040;
      font-size: 18px;
      line-height: 22px;
      text-decoration: none;      
      &:focus,
      &:hover,
      &:visited {
        color: #404040;
        text-decoration: none;
      }
    }
  }
  .contact__map {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    .acf-map {
      width: 100%;
      height: 100%;
    }
  }
}

// iPhone 6, 6s, 7, and 8 Landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #contact-page {
    .contact__map {
      height: 300px;
    }
  }
  
}

// iPhone 6+, 7+, 8+ Landscape
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #contact-page {
    .contact__map {
      height: 300px;
    }
  }
}

// iPhone X Landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #contact-page {
    .contact__map {
      height: 300px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
}

// DESKTOP
@media screen and (min-width: 1025px) {
  #contact-page {
    height: calc(100vh - 260px);
    position: relative;
    // padding-top: 10%;
    padding-top: 170px;
    display: flex;
    justify-content: space-between;
    margin: $margin__desktop;
    .contact__text {
      .contact__title {
        line-height: 30px;
      }
      .contact__head-office {
        padding-top: 40px;
      }
      .contact__address {
        padding: 10px 0 20px 0;        
        // width: 200px;
      }
      .contact__phone {
        &:hover {
          // text-decoration: underline;
        }
      }
      .contact__email {
        &:hover {
          // text-decoration: underline;
        }
      }
    }
    .contact__map {
      width: 60%;
      height: 100%;
      max-height: 400px;
      margin: 0;
      .acf-map {
      }
    }
  }
}

@media only screen and (min-width: 1600px) {

  #contact-page {
    max-width: 1200px;
    margin: 0 auto;
  }

}
