@import 'variables-site/variables-site';

footer {
  padding-bottom: 25px;
  padding-top: 50px;
  background: $color__white;
  .footer-content {
    margin: $margin__mobile;
    color: #404040;
    font-family: $font__secondary_reg;
    padding-top: 50px;    
    padding-bottom: 30px;
    .footer-line {
      border-bottom: 1px solid $color__green;
      height: 20px;
    }
    .footer-logo {
      color: $color__green;
      font-family: $font__main;
      font-size: 30px;
      letter-spacing: 1.5px;
      padding: 20px 0;
    }
    .footer-social {
      font-size: 18px;
      a {
        display: inline-block;
        img {
          height: 50px;
          margin-top: 10px;
          margin-bottom: 10px;
          padding-right: 5px;
        }
      }
    }
    .footer-contact {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      a,
      a:visited,
      a:focus,
      a:hover {
        color: #404040;                
        font-size: 18px;
        padding: 10px 0;
      }
      .footer-contact-address-mobile {
        font-size: 18px;
        padding: 10px 0;
      }
      .footer-contact-address-desktop {
        display: none;
      }
    }
    .footer-copyright-wrapper {
      display: flex;
      flex-direction: column;
      font-size: 13px;
      line-height: 22px;
      a,
      a:visited,
      a:focus,
      a:hover {
        color: #404040;                
      }
    }
  }
}

// IPAD
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

// IPAD PRO 10.5"
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
}

// DESKTOP
@media screen and (min-width: 1025px) {
  footer {
    padding: 60px 0 40px 0;
    .footer-content {
      margin: $margin__desktop;
      display: flex;
      align-items: flex-end;
      // justify-content: space-between;
      .footer-line {
        display: none;
      }
      .footer-logo {
        padding: 0;
        display: flex;
        align-self: flex-start;
        width: 20%;
        line-height: 30px;
      }

      .footer-social {
        width: 20%;        
        a {
          transition: opacity 0.1s ease-in;
          img {
            height: 35px;
            margin-bottom: 0;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .footer-contact {
        width: 35%;        
        padding: 0;
        line-height: 26px;
        a:nth-child(1) {
          padding: 0;
        }
        a {
          padding: 0;          
          transition: text-decoration 0.1s ease-in-out;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            padding: 0;
          }
        }
        .footer-contact-address-mobile {
          display: none;
        }
        .footer-contact-address-desktop {
          display: block;
          font-size: 18px;
        }
      }

      .footer-copyright-wrapper {
        width: 25%;        
        display: flex;
        align-items: baseline;
        .footer-copyright {
          flex-direction: row;
          align-items: flex-end;
        }
        .footer-design-by {
        }
      }
    }
  }
}

// EXTRA LARGE
@media screen and (min-width: 1600px) {
}
