@import 'variables-site/variables-site';

footer {
  padding-bottom: 25px;
  padding-top: 50px;
  background: $color__white;
  .footer-content {
    margin: $margin__mobile;
    color: $color__green;
    font-family: $font__secondary_reg;
    .footer-line {
      border-bottom: 1px solid $color__green;
      height: 20px;
    }
    .footer-logo-mobile {
      font-family: $font__main;
      font-size: 30px;
      letter-spacing: 1.5px;
      padding: 20px 0;
    }
    .footer-social {
      font-size: 18px;
      a {
        display: inline-block;
        img {
          height: 50px;
          margin-top: 10px;
          margin-bottom: 10px;
          padding-right: 5px;
        }
      }
    }
    .footer-contact {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      a,
      a:visited,
      a:focus,
      a:hover {
        color: $color__green;
        font-size: 18px;
        padding: 10px 0;
      }
      .footer-contact-address {
        font-size: 18px;
        padding: 10px 0;
      }
    }
    .footer-subscribe {
      padding: 20px 0 20px 0;
      span {
        font-size: 18px;
      }
      .footer-subscribe-email {
        padding: 10px 0;
        input {
          color: $color__green;
          background: transparent;
          border: 1.2px solid $color__green;
          border-radius: 0;
          height: 50px;
          width: 100%;
          padding: 0 15px;
          &::placeholder {
            color: $color__green;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .footer-subscribe-submit {
        padding-bottom: 15px;
        input {
          background: transparent;
          border: 1.3px solid $color__green;
          border-radius: 0;
          color: $color__green;
          font-size: 14px;
          letter-spacing: 2px;
          font-family: $font__secondary_med;
          height: 50px;
          width: 100%;
          cursor: pointer;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .footer-desktop-wrapper-two {
      .footer-logo-desktop {
        display: none;
      }
      display: flex;
      flex-direction: column;
      font-size: 13px;
      line-height: 22px;
      a,
      a:visited,
      a:focus,
      a:hover {
        color: $color__green;
      }
    }
  }
}

// IPAD
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

// IPAD PRO 10.5"
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
}

// DESKTOP
@media screen and (min-width: 1025px) {
  footer {
    padding: 80px 0 40px 0;
    .footer-content {
      margin: $margin__desktop;
      .footer-line {
        display: none;
      }
      .footer-logo-mobile {
        display: none;
      }
      .footer-desktop-wrapper-one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 70px;
        .footer-social {
          width: 33.33%; 
          a {
            transition: opacity 0.1s ease-in;
            img {
              height: 35px;
            }
            &:hover {
              opacity: 0.8;
            }
          }
        }
        .footer-contact {
          width: 33.33%;
          padding-top: 0;
          a:nth-child(1) {
            padding-top: 0;
          }
          a {
            transition: text-decoration 0.1s ease-in-out;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .footer-subscribe {
          width: 33.33%;
          padding-top: 0;
          .footer-subscribe-email {
            padding-top: 15px;
          }
          .footer-subscribe-submit {
            input {
              transition: all 0.3s ease-in-out;
              &:hover {
                color: $color__white;
                background: $color__green;
              }
            }
          }
          .mc4wp-response {
            .mc4wp-alert {
              p {
                margin: 0;
                font-size: 14px;
              }
            }
          }
        }
      }
      .footer-desktop-wrapper-two {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        .footer-logo-desktop {
          display: flex;
          font-family: $font__main;
          font-size: 40px;
          margin-bottom: 5px;
          letter-spacing: 1.5px;
          width: 33.33%;
        }
        .footer-copyright {
          flex-direction: row;
          align-items: flex-end;
          width: 33.33%;
        }
        .footer-design-by {
          width: 33.33%;
        }
      }
    }
  }
}

// EXTRA LARGE
@media screen and (min-width: 1600px) {
}
