#main {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .main__overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #15534e;
    opacity: 0.7;
  }
  .contact-form {
    color: rgb(40, 73, 68);
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: -100vw;
    overflow: hidden;
    background-color: #edede8;
    z-index: 2;
    padding: 0 4%;
    transition: right 0.5s ease-in-out;
    .contact-form__x-button-wrap {
      height: 50px;
      width: 100%;
      margin-bottom: 50px;
      position: relative;
      .contact-form__x-button {
        height: 100%;
        width: 50px;
        position: absolute;
        right: 4%;
        top: 7vw;
        cursor: pointer; 
        transition: all 0.5s ease-in-out;
        &:hover {
          transform: rotate(180deg);
        }
        &::before {
          content: '';
          position: absolute;
          top: 16px;
          right: 18px;
          height: 50px;
          width: 50px;
          border-top: 2px solid #15534e;
          transform: rotate(45deg);
        }
        &::after {
          content: '';
          position: absolute;
          top: 16px;
          left: 15px;
          height: 50px;
          width: 50px;
          border-top: 2px solid #15534e;
          transform: rotate(-45deg);
        }
      }
    }
    .contact-form__contact-us {
      color: #15534e;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
    }
    .contact-form__first-name, .contact-form__last-name, .contact-form__email, .contact-form__phone-number {
      input {
        border: none;
        border-bottom: solid 2px #15534e;
        background-color: transparent;
        color: #15534e;
        border-radius: 0;
        padding-left: 0;
        &::placeholder {
          color: #15534e;
        }
      }
      .wpforms-error {
        color: #ff0f0f;
        font-size: 13px;
        margin-top: 5px;
        font-weight: 200; 
      }
    }
    .contact-form__message {
      textarea {
        background-color: transparent;
        border: solid 2px #15534e;
        color: #15534e;
        border-radius: 0;
        -webkit-appearance: none;
        &::placeholder {
          color: #15534e;
        }
      }
      .wpforms-error {
        color: #ff0f0f;
        font-size: 13px;
        margin-top: 5px;
        font-weight: 200; 
      }
    }
    .contact-form__submit {
      background-color: transparent;
      border: 2px solid #15534e;
      width: 100%;
      height: 50px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 3px;
      color: #15534e;
      transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
      &:hover {
        background-color: #15534e;
        color: #edede8;
      }
    }

    .contact-form__information {
      color: #15534e;
      font-size: 1.3em;
      a {
        color: #15534e;
        &:hover {
          text-decoration: none;
        }
      }
      a.contact-form__information-phone {
        text-decoration: none;
      }
    }
  }

  header {
    display: flex;
    flex-direction: row;
    padding: 4vw 4% 0;
    .header__logo {
      flex-grow: 1;
      width: 80%;
      z-index: 1;
      #desktop-logo-svg {
        display: none;
      }
      #mobile-logo-svg {
        width: 80%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }
    }
    .header__hamburger {
      flex-grow: 1;
      width: 20%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      .hamburger__line {
        height: 2px;
        width: 60%;
        margin: 5px auto;
        background-color: #edede8;
      }
    }
    .header__contact-us {
      display: none;
    }
  }

  .slogans {
    position: absolute;
    bottom: 50px;
    padding: 0 4%;
    .slogan {
      color: #edede8;
      text-transform: capitalize;
      font-family: 'Druk Wide Web';
      font-size: 2em;
      margin: -10px 0;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      position: relative;
      bottom: -30px;
      opacity: 0;
      transition: bottom 1s ease-in-out, opacity 1s ease-in-out;
    }
    .slogan__comming-soon {
      font-weight: 100;
      font-family: unset;
      margin-top: 30px;
      font-size: 1.5em;
    }
  }
}

/* ====================================================== */
/* ======================= DESKTOP ====================== */
/* ====================================================== */

@media only screen and (min-width: 1050px) {
  #main {
    .contact-form {
      .wpforms-container {
        width: 50%;
      }
      .contact-form__first-name, .contact-form__last-name, .contact-form__email, .contact-form__phone-number {
        input {
          width: 100%;
        }
      }
      .contact-form__submit {
        width: 60%;
      }
      .contact-form__information {
        position: absolute;
        bottom: 220px;
        left: 60vw;
        font-size: 1.2em;
      }
    }
    header {
      .header__logo {
        width: 50%;
        #mobile-logo-svg {
          display: none;
        }
        #desktop-logo-svg {
          display: block;
          width: 55%;
          opacity: 0;
          transition: opacity 1s ease-in-out;
        }
      }
      .header__hamburger {
        display: none;
      }
      .header__contact-us {
        display: block;
        flex-grow: 1;
        width: 50%;
        color: #edede8;
        text-transform: uppercase;
        font-size: 0.8em;
        text-align: right;
        font-weight: bold;
        letter-spacing: 2px;
        z-index: 1;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        span {
          cursor: pointer;
        }
      }
    }
    .slogans {
      bottom: 50px;
      .slogan {
        font-size: 2.5em;
        margin: -15px 0;
      }
      .slogan__comming-soon {
        font-size: 1.5em;
        margin-top: 30px;
      }
    }
  }
}