@import 'variables-site/variables-site';

#loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: $color__white;
  cursor: wait;
  #loader-letters {
    color: $color__green;
    cursor: wait;
    display: flex;
    font-family: $font__main;
    font-size: 35px;
    height: 40px;
    left: 50%;
    letter-spacing: 2px;
    line-height: 35px;
    opacity: 1;
    position: absolute;
    top: 48%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    width: 120px;
    .loader-letters-box {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 38px;
      #loader-d {
        position: absolute;
        left: 0;
        top: 0;
        transition: top 0.5s ease-in-out;
      }
      #loader-b {
        position: absolute;
        left: 52%;
        transform: translate(-50%);
        top: 0;
        transition: top 0.5s ease-in-out;
      }
      #loader-s {
        position: absolute;
        right: 0;
        top: 0;
        transition: top 0.5s ease-in-out;
      }
      // .letter-animation {
      //   transition: top 0.5s ease-in-out;
      //   animation: Letters 1s infinite s;
      // }
    }
  }
}

// @keyframes Letters {
//   from {top: 0px;}
//   to {top: -35px;}
// }

header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  z-index: 1;

  // MAIN HEADER
  .site-branding {
    margin: $margin__mobile;
    margin-top: 6%;
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    .header-logo {
      position: relative;
      display: flex;
      justify-content: flex-start;
      height: 55px;
      width: 70%;
      .header-logo-image-desktop-white,
      .header-logo-image-desktop-green {
        display: none;
      }
      .header-logo-image-white,
      .header-logo-image-green {
        position: absolute;
        left: 0;
        background: transparent;
        width: 80%;
        z-index: 1;
      }
      .header-logo-button {
        position: absolute;
        left: 0;
        background: transparent;
        height: 100%;
        width: 80%;
        z-index: 1;
      }
    }
    .header__hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35px;
      height: 25px;
      z-index: 1;
      opacity: 1;
      cursor: pointer;
      transition: opacity 1s ease-in-out;
      .hamburger__line {
        display: flex;
        height: 1px;
        width: 100%;
        background-color: $color__white;
      }
      .hamburger__line-green {
        display: flex;
        height: 1px;
        width: 100%;
        background-color: $color__green;
      }
    }
  }

  // MENU
  #menu-overlay {
    background: $color__white;
    position: fixed;
    height: 100vh;
    overflow-x: hidden;
    top: 0;
    right: 0;
    width: 0%;
    z-index: 99;
    transition: 0.5s ease-in-out;
    #menu-overlay-content {
      position: relative;
      margin: $margin__mobile;
      // height: 100%;
      #menu-close-wrapper {
        position: relative;
        display: flex;
        opacity: 0;
        height: 70px;
        justify-content: flex-end;
        align-items: center;
        transition: opacity 0.5s ease-in-out;
        .menu-close {
          background: transparent;
          border: none;
          display: flex;
          width: 2.1em;
          height: 2.1em;
          cursor: pointer;
          outline: none;
        }
        .menu-close:before {
          content: '';
          position: absolute;
          display: block;
          margin: auto;
          width: 2.5em;
          height: 2.5em;
          border-top: 1.3px solid $color__green;
          transform: rotate(-45deg) translate(0px, 14px);
          transform-origin: center;
        }
        .menu-close:after {
          content: '';
          position: absolute;
          display: block;
          margin: auto;
          width: 2.5em;
          height: 2.5em;
          border-top: 1.3px solid $color__green;
          transform: rotate(45deg) translate(-5px, 20px);
          transform-origin: center;
        }
      }
      #menu-content {
        position: absolute;
        // left: 800px;
        opacity: 0;
        color: $color__green;
        // height: 100%;
        transition: 0.5s ease-in-out;
        .menu-top-wrap {
          #primary-menu {
            list-style: none;
            color: $color__green;
            display: flex;
            flex-direction: column;
            font-family: $font__main;
            font-size: 28px;
            line-height: 38px;
            letter-spacing: 1.5px;
            a,
            a:visited,
            a:hover,
            a:focus {
              color: inherit;
            }
          }
          .menu-contact-button {
            font-family: $font__main;
            font-size: 28px;
            letter-spacing: 1.5px;
            line-height: 38px;
          }
        }
      }
    }

    .menu-bottom-wrap {
      .menu-social {
        padding-top: 45%;
        span {
          font-family: $font__secondary_reg;
          font-size: 18px;
        }
        a {
          display: inline-block;
          img {
            height: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-right: 5px;
          }
        }
      }
      .menu-contact {
        font-family: $font__secondary_reg;
        font-size: 18px;
        padding-top: 20px;
        a,
        a:visited,
        a:hover,
        a:focus {
          color: inherit;
          padding: 10px 0;
        }
        .menu-contact-email {
          text-decoration: underline;
        }
        .menu-contact-address {
          padding: 10px 0;
        }
      }
    }
  }

  // CONTACT FORM
  #contact-form {
    background: $color__white;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    width: 0%;
    z-index: 101;
    overflow-x: hidden;
    transition: width 0.7s ease-in-out;
    overflow-y: scroll;
    #contact-form-content {
      position: relative;
      margin: $margin__mobile;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      #contact-close-wrapper {
        position: relative;
        display: flex;
        opacity: 1;
        height: 70px;
        justify-content: flex-end;
        align-items: center;
        transition: 0.7s ease-in-out;
        .contact-close {
          background: transparent;
          border: none;
          display: flex;
          width: 2.1em;
          height: 2.1em;
          cursor: pointer;
          outline: none;
        }
        .contact-close:before {
          content: '';
          position: absolute;
          display: block;
          margin: auto;
          width: 2.5em;
          height: 2.5em;
          border-top: 1.3px solid $color__green;
          transform: rotate(-45deg) translate(0px, 18px);
          transform-origin: center;
        }
        .contact-close:after {
          content: '';
          position: absolute;
          display: block;
          margin: auto;
          width: 2.5em;
          height: 2.5em;
          border-top: 1.3px solid $color__green;
          transform: rotate(45deg) translate(-2px, 20px);
          transform-origin: center;
        }
      }
      .wpforms-container {
        height: 85%;
        form {
          height: 100%;
          .wpforms-field-container {
            display: flex;
            flex-direction: column;
            // height: 90%;
            align-items: space-between;
            .wpforms-field-medium {
              border: none;
              border-bottom: 1.2px solid $color__green;
              border-radius: 0;
              background: transparent;
              color: $color__green;
              font-family: $font__secondary_reg;
              padding: 0;
              &::placeholder {
                color: $color__green;
              }
            }
            .wpforms-error {
              color: $color__green;
            }
            // .contact__first-name,
            // .contact__last-name,
            // .contact__email,
            // .contact__phone {
            // }
            .contact__message {
              height: 260px;
              margin: 10px 0 5px 0;
              textarea {
                border: 1.2px solid $color__green;
                height: 100%;
                padding: 15px 15px;
                resize: none;
              }
            }
          }
          .wpforms-submit-container {
            height: 50px;
            .wpforms-submit {
              background-color: transparent;
              border: 1.2px solid $color__green;
              color: $color__green;
              height: 50px;
              font-size: 14px;
              font-family: $font__secondary_med;
              letter-spacing: 2px;
              text-transform: uppercase;
              width: 100%;
            }
          }
        }
      }
      .wpforms-confirmation-container-full {
        background: transparent;
        border: none;
        font-family: $font__secondary_reg;
        color: $color__green;
        font-size: 32px;
        text-align: center;
        line-height: 42px;
        div {
          padding: 10px 0 10px 0;
        }
      }
    }
  }
}

// IPAD
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

// IPAD PRO 10.5"
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
}

// DESKTOP
@media screen and (min-width: 1025px) {
  #loader {
    #loader-letters {
      font-size: 45px;
      width: 160px;
      height: 43px;
      line-height: 40px;
      .loader-letters-box {
        height: 43px;
      }
    }
  }

  header {
    height: 150px;
    .site-branding {
      margin: $margin__desktop;
      // margin-top: 4%;
      // height: 150px;
      padding-top: 40px;
      .header-logo {
        height: 80px;
        .header-logo-image-desktop-white,
        .header-logo-image-desktop-green {
          position: relative;
          display: flex;
          justify-content: flex-start;
          height: 35px;
        }
        .header-logo-image-white,
        .header-logo-image-green {
          display: none;
        }
        .header-logo-button {
          width: 500px;
          height: 50px;
        }
      }
    }

    #menu-overlay {
      // overflow-y: scroll;
      #menu-overlay-content {
        margin-right: 10%;

        #menu-close-wrapper {
          height: 100px;
          .menu-close {
            transition: transform 0.3s ease-in-out;
          }
          &:hover {
            .menu-close {
              transform: rotate(180deg);
            }
          }
        }
        #menu-content {
          margin-top: -20px;
          // height: auto;
          height: 85vh;
          display: flex;
          flex-direction: column;
          .menu-top-wrap {
            height: calc(50%);
            #primary-menu {
              font-size: 40px;
              line-height: 60px;
            }
            .menu-contact-button {
              font-size: 40px;
              padding: 0;
            }
          }
        }
      }
      .menu-bottom-wrap {
        display: flex;
        flex-direction: column;
        // height: 70%;
        .menu-social {
          padding-top: 0;
        }
        .menu-contact {
          a,
          a:visited,
          a:hover,
          a:focus {
            padding: 5px 0;
          }
          .menu-contact-address {
            padding: 5px 0;
          }
        }
      }
    }

    #contact-form {
      z-index: 98;
      #contact-form-content {
        margin: $margin__desktop;
        width: 45%;
        #contact-close-wrapper {
          display: none;
        }
        .wpforms-container {
          form {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .wpforms-field-container {
              display: block;
              // height: 95%;
              padding-top: 150px;
              .wpforms-field-medium {
                max-width: 100%;
              }
              .contact__message {
                // height: 300px;
                textarea {
                  height: 100%;
                }
              }
            }
            .wpforms-submit-container {
              .wpforms-submit {
                width: 65%;
                transition: all 0.3s ease-in-out;     
                &:hover {
                  background-color: $color__green;
                  color: $color__white;
                }
              }
            }
          }
        }
        .wpforms-confirmation-container-full {
          margin-top: 20%;
          font-size: 40px;
          line-height: 50px;
          padding: 50px 0;
        }
      }
    }
  }
}

// EXTRA LARGE
@media screen and (min-width: 1600px) {
}
