/* ====================================================== */
/* ======================= MOBILE ======================= */
/* ====================================================== */

.single-project {
  padding: 0 4vw;
  color: #15534e;
  .single-project__images-carousel {
    margin: 0 -4vw;
    height: 200px;
    .slick-list {
      height: 100%;
      .slick-track {
        height: 100%;
        .single-project__image-wrap {
          padding: 0 15px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .single-project__title {
    font-size: 1.5em;
    text-transform: capitalize;
    padding-top: 15px;
    font-family: 'Druk Wide Web';
  }
  .single-project__address {
    font-family: 'Druk Wide Web';
    font-size: 0.7em;
  }
  .single-project__specs-and-about {
    .single-project__specs {
      padding-top: 30px;
      span {
        text-transform: capitalize;
        font-family: 'Druk Wide Web';
      }
      p {
        margin: 0;
      }
    }
    .single-project__description {
      padding-top: 30px;
      span {
        text-transform: capitalize;
        font-family: 'Druk Wide Web';
      }
      p {
        margin: 0;
      }
    }
  }
  .single-project__featured-in {
    padding-top: 30px;
    .single-project__featured-in-title {
      text-transform: capitalize;
      font-family: 'Druk Wide Web';
    }
    .single-project__featued-in-articles {
      display: flex;
      flex-direction: column;
      .single-project__featured-in-article-newspaper-name {
        text-transform: uppercase;
        font-family: 'Druk Wide Web';
        font-size: 0.8em;
        margin-top: 20px;
      }
      .single-project__featured-in-article-title {
        a {
          text-transform: capitalize;
          font-family: 'Druk Wide Web';
          font-size: 1.2em;
          color: #15534e;
        }
      }
    }
  }
}