$font__main: 'Druk Wide Web', sans-serif;
$font__secondary_reg: 'Neutral Regular';
$font__secondary_med: 'Neutral Medium';

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
